*{
	margin: 0px;
	padding: 0px;
}

html {
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0px;
	padding: 0px;
}

ul,
ol {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

a:hover {
	text-decoration: none;
}

section {
	width: 100%;
	float: left;
}

img {
	max-width: 100%;
}

li {
	list-style: none;
}

.dropdown-item:focus, .dropdown-item:hover {
	color: #16181b;
    text-decoration: none;
    background-color: #ffffff;
}

body {
	font-family: 'Roboto', sans-serif!important;
	background: #F4F8F9;
}

.page-content {
	width: 100%;
	float: left;
	position: relative;
}

.page-content .sidebar-menu {
	width: 80px;
	float: left;
	background: #fff;
	border-right: 1px solid #E7E9EA;
	padding-top: 80px;
	position: fixed;
	height: 100%;
	left: 0;
    -webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.page-content .sidebar-menu .logo {
	width: 79px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	position: fixed;
	top: 0;
	background: #fff;
	z-index: 3;
    -webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.page-content .main-content {
	width: calc(100% - 80px);
	float: right;
	position: relative;
	padding-top: 80px;
}

.page-content .main-content .top-bar {
	width: calc(100% - 80px);
	float: left;
	position: fixed;
	height: 80px;
	border-bottom: 1px solid #E7E9EA;
	padding: 0 40px;
	right: 0;
	line-height: 79px;
	background: #fff;
	top: 0;
	z-index: 1051;
    -webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.page-content .main-content .top-bar .left-action {
	float: left;
	position: relative;
}

.page-content .main-content .top-bar .left-action ul {
	width: 100%;
	float: left;
	position: relative;
}

.page-content .main-content .top-bar .left-action ul li {
	display: inline-block;
	position: relative;
}

.page-content .main-content .top-bar .left-action ul li .searching-bar {
	position: relative;
	padding-left: 30px;
}

.page-content .main-content .top-bar .left-action ul li .searching-bar i {
	position: absolute;
	left: 15px;
	top: 8px;
	color: #989898;
}

.page-content .main-content .top-bar .left-action ul li .searching-bar .form-control {
	border: 0;
	font-size: 14px;
	color: #989898;
	min-width: 235px;
}

.page-content .main-content .top-bar .left-action ul li .searching-bar .form-control:focus {
	outline: none;
	box-shadow: none;
}

.page-content .main-content .top-bar .right-action {
	float: right;
	position: relative;
	display: inline-block;
	padding: 15px 0;
}

.page-content .main-content .top-bar .right-action .user-dropdown {
	position: relative;
	float: left;
	display: inline-block;
}

.page-content .main-content .top-bar .right-action .user-dropdown .user-pic {
	width: 50px;
	height: 50px;
	background-position: center;
	background-size: cover;
}

.menu-bar-list {
	width: 100%;
	float: left;
	height: 100%;
	padding-top: 60px;
	position: relative;
}

.menu-bar-list ul {
	width: 100%;
	float: left;
	position: relative;
}

.menu-bar-list ul li {
	width: 100%;
	float: left;
	text-align: center;
}

.menu-bar-list ul li .nav-l {
	width: 100%;
	float: left;
	min-height: 60px;
	line-height: 60px;
	position: relative;
}

.menu-bar-list ul li .nav-l.active:before {
	content: "";
	height: 80%;
	width: 10px;
	background: #2988f3;
	position: absolute;
	left: -5px;
	border-radius: 6px;
	box-shadow: 0px 0px 5px 0px #2988f3;
	top: 50%;
	transform: translateY(-50%);
}

.menu-bar-list ul li .nav-l:hover:before {
	content: "";
	height: 80%;
	width: 10px;
	background: #2988f3;
	position: absolute;
	left: -5px;
	border-radius: 6px;
	box-shadow: 0px 0px 5px 0px #2988f3;
	top: 50%;
	transform: translateY(-50%);
}

.menu-bar-list ul li .nav-l.active {
	width: 100%;
	float: left;
	min-height: 60px;
	line-height: 60px;
	position: relative;
}

.page-panel {
	width: 100%;
	float: left;
	position: relative;
	padding: 40px;
    -webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.page-panel .top-actions {
	width: 100%;
	float: left;
	position: relative;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.top-actions .top-left-action {
	float: left;
	position: relative;
}

.top-actions .top-left-action .title {
	font-size: 36px;
	font-weight: 500;
	color: #233539;
}

.top-actions .top-right-action {
	float: right;
	position: relative;
}

.top-actions .top-right-action .action-box {
	display: inline-block;
	position: relative;
}

.top-actions .top-right-action .action-box ul {
	width: 100%;
	position: relative;
	float: left;
	display: inline-block;
	background: #e9eff466;
	padding: 5px;
	margin-bottom: 0;
	height: 44px;
	line-height: 40px;
}

.top-actions .top-right-action .action-box ul li {
	display: inline-block;
	text-align: center;
}

.top-actions .top-right-action .action-box ul li a {
	font-size: 13px;
	color: #989898;
	height: 34px;
	line-height: 34px;
	padding: 0px 15px;
	display: inline-flex;
	border-radius: 5px;
	position: relative;
	min-width: 86px;
	text-align: center;
}

.top-actions .top-right-action .action-box ul li a.active {
	color: #4e4e4e;
	height: 34px;
	line-height: 34px;
	background: #fff;
	display: inline-flex;
	border-radius: 5px;
	position: relative;
	text-align: center;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.top-actions .top-right-action .action-box ul li a img.active {
	display: none;
	margin-right: 5px;
}

.top-actions .top-right-action .action-box ul li a.active img.active {
	display: block;
	margin-right: 5px;
}

.top-actions .top-right-action .action-box ul li a img {
	display: block;
	margin-right: 5px;
}

.top-actions .top-right-action .action-box ul li a.active img.inactive {
	display: none;
}

.detail-card {
	width: 100%;
	float: left;
	position: relative;
	padding: 40px 0;
	background: transparent;
	border: 0;
}

.detail-card .card {
	width: 100%;
	float: left;
	position: relative;
	background: no-repeat;
	border: transparent;
}

.detail-card .card  .card-b {
	width: 100%;
	float: left;
	position: relative;
	padding: 30px;
	background: #ffffff47;
	box-shadow: 0px 0px 15px 0px #d5d5d540;
	border-radius: 10px;
	margin-bottom: 10px;
}

.detail-card .card  .card-b:hover {
	background: #ffffff;
}

.detail-card .card  .card-b .title {
	width: 100%;
	float: left;
	position: relative;
}

.detail-card .card  .card-b .title .right-drop {
	position: absolute;
	right: 0;
	top: 0;
}

.detail-card .card .card-b .title .right-drop i {
	background: transparent;
	border: 0;
	color: #d0d0d0;
	font-size: 25px;
}

.detail-card .card .card-b .title .right-drop .dropdown-toggle.no-caret:after {
	display: none;
}

.detail-card .card .card-b .title .right-drop .dropdown-menu {
	border: 0;
	box-shadow: 0px 0px 15px 0px #d5d5d547;
	font-size: 13px;
	padding: 0;
	min-width: auto;
	right: -47px;
	left: auto!important;
}
.detail-card .card .card-b .title .right-drop .dropdown-menu {
	border: 0;
	box-shadow: 0px 0px 15px 0px #d5d5d547;
	font-size: 13px;
	padding: 0;
	min-width: auto;
	right: -47px;
	left: auto!important;
}
.detail-card .card .card-b .title .right-drop .dropdown-menu:before {
    content: "";
    position: absolute;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.detail-card .card .card-b .title .right-drop .dropdown-menu a {
	height: 44px;
	line-height: 44px;
	padding: 0 15px;
	font-size: 15px;
}

.detail-card .card .card-b .task {
	width: 100%;
	float: left;
	position: relative;
	font-size: 14px;
	color: #989898;
}

.detail-card .card .card-b .task span.blue {
	font-size: 30px;
	color: #4da1ff;
}

.detail-card .card .card-b .task span.orange {
	font-size: 30px;
	color: #FF6D4A;
}

.history {
	width: 100%;
	float: left;
	position: relative;
}

.history .title {
	width: 100%;
	float: left;
	position: relative;
	font-size: 20px;
	margin-bottom: 40px;
}

.history .title:before {
	position: absolute;
	content: "";
	width: 80px;
	height: 5px;
	background: #4da1ff;
	bottom: -13px;
	border-radius: 9px;
}

.history .card-panel {
	width: 100%;
	float: left;
	position: relative;
}

.history .card-panel .card-bx {
	width: 100%;
	float: left;
	padding: 30px;
	background: #fff;
	box-shadow: 0px 0px 15px 0px #d5d5d540;
	margin-bottom: 30px;
	border-radius: 6px;
}

.history .card-panel .card-bx .user-details {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 90px;
	margin-bottom: 20px;
}

.history .card-panel .card-bx .user-details .activeted {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background: #ff5555;
	position: absolute;
	right: 0;
}

.history .card-panel .card-bx .user-details .user-img {
	width: 70px;
	height: 70px;
	position: absolute;
	left: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.history .card-panel .card-bx .user-details .user-name {
	width: 100%;
	float: left;
	position: relative;
	font-size: 23px;
	line-height: normal;
}

.history .card-panel .card-bx .user-details .user-email {
	width: 100%;
	float: left;
	position: relative;
	font-size: 12px;
	color: #c1c1c1;
}

.history .card-panel .card-bx .user-details .user-post {
	width: 100%;
	float: left;
	position: relative;
	font-size: 13px;
	color: #323c4796;
}

.history .card-panel .card-bx .user-content {
	width: 100%;
	float: left;
	position: relative;
}

.history .card-panel .card-bx .user-content .user-heading {
	width: 100%;
	float: left;
	position: relative;
	font-size: 17px;
	font-weight: 500;
	color: #323C47;
	margin-bottom: 10px;
}

.history .card-panel .card-bx .user-content .user-subcontent {
	width: 100%;
	float: left;
	position: relative;
	font-size: 14px;
	color: #323c47ad;
}

.card-panel .user-details {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 90px;
}

.card-panel .user-details .activeted {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background: #ff5555;
	position: absolute;
	right: 0;
}

.card-panel .user-details .user-img {
	width: 70px;
	height: 70px;
	position: absolute;
	left: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.card-panel .user-details .user-name {
	width: 100%;
	float: left;
	position: relative;
	font-size: 23px;
	line-height: normal;
}

.card-panel .user-details .user-email {
	width: 100%;
	float: left;
	position: relative;
	font-size: 12px;
	color: #c1c1c1;
}

.card-panel .user-details .user-post {
	width: 100%;
	float: left;
	position: relative;
	font-size: 13px;
	color: #323c4796;
}

.user-content {
	width: 100%;
	float: left;
	position: relative;
}

.card-panel .user-content .user-heading {
	width: 100%;
	float: left;
	position: relative;
	font-size: 17px;
	font-weight: 500;
	color: #323C47;
	margin-bottom: 0px;
}

.card-panel .user-content .user-subcontent {
	width: 100%;
	float: left;
	position: relative;
	font-size: 14px;
	color: #323c47ad;
	max-width: 500px;
	white-space: normal;
}

.card-panel .user-skills {
	width: 100%;
	float: left;
	position: relative;
	display: inline-flex;
}

.card-panel .user-skills span {
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	background: #F4F8F9;
	font-size: 12px;
	color: #323c47b3;
	margin: 5px;
	padding: 0px 15px;
}

.card-panel .user-action {
	display: inline-flex;
	min-width: 175px;
}

.card-panel .user-action a {
	height: 38px;
	line-height: 38px;
	margin-left: 10px;
}

.card-panel .user-action .btn-mark {
	height: 38px;
	line-height: 38px;
	background: #4DA1FF;
	color: #fff;
	padding: 0px 15px;
	border-radius: 7px;
}

.card-panel .table {
	border-top: 0;
}

.card-panel .table tbody tr {
	width: 100%;
	float: left;
	position: relative;
	background: #fff;
	margin-bottom: 10px;
	border-radius: 6px;
}

.card-panel .table tbody tr td {
	border-top: 0;
	vertical-align: middle;
	white-space: nowrap;
}

#table {
	display: none;
}

.detail-card .card ul li .card-b .title .right-drop .dropdown-menu:before {
    position: absolute;
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    top: -9px;
    left: 50%;
    transform: translateX(-50%);
}
